[Unit]
Description=WebSocketForward - Reverse proxy by Corgice @gh IceSandwich
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/WebSocketForward/venv/bin/python /opt/WebSocketForward/server.py --server 127.0.0.1:12228
WorkingDirectory=/opt/WebSocketForward

[Install]
WantedBy=multi-user.target
